[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "==2.2.1"
certifi = "==2026.1.4"
charset-normalizer = "==3.4.4"
ciso8601 = "==2.3.3"
idna = "==3.11"
ijson = "==3.4.0.post0"
jsonschema = "==2.6.0"
python-dateutil = "==2.9.0.post0"
pytz = "==2025.2"
requests = "==2.33.0"
simplejson = "==3.20.2"
singer-python = "==6.3.0"
six = "==1.17.0"
urllib3 = "==2.6.3"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.12"
